#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container-all {
  background-color: #f3f3f3;
  border: 3px solid red;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
}

#container-all ul li {
  list-style-type: none;
  color: #232323;
  text-align: center;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#container-all ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.open-menu {
  height: 135px;
  opacity: 1;
}

.open-menu li {
  opacity: 1 !important;
  cursor: pointer;
  border-bottom: 1px solid #0000006b;
  width: 100%;
}

.open-menu li:last-child{
  border-bottom: 0px;
}

.open-menu li:hover {
  color: orangered !important;
}

.hidden-menu {
  height: 0;
  opacity: 0;
}

.card {
  padding: 2em;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
